/backend/coverage
/backend/mongo-data
/backend/node_modules
/backend/.env
/kubernetes/local/
/kubernetes/fruitvision-local/
file.yml
certificates
gitlab_file
docker-compose.yml
/gitlab-ci-pipelines-exporter
promotehus
firebase-debug.log
serviceAccountKey.json
serviceAccountKey.base64

FruitVision_application/build/
FruitVision_application/caches/
FruitVision_application/.tmp/
FruitVision_application/.flutter-plugins
FruitVision_application/flutter-plugins-dependencies
FruitVision_application/.metadata
FruitVision_application/wrapper

# Ignore IDE and project-specific files
FruitVision_application/*.iml
/.idea/

FruitVision_application/.env
FruitVision_application/lib/firebase_options.dart